<h1><%= @user.name %></h1>
<ul>
  <li><%= @user.email %></li>
  <li><%= @user.birthday %></li>
</ul>

<h3>Team: </h3>
<ul>
  <%= @team.name %>
</ul>

<h3>Projects: <h3>
<ul>
  <% @user.projects.each do |project| %>
    <li>
      <%= project.name %>
    </li>
  <% end %>
</ul>

<h3>Position: </h3>
<ul>
	<%= @user.position.name %>
</ul>

<h4>Skills: </h4>
<ul>
  <% @user.skills.each do |skill| %>
    <li>
      <%= skill.name %>
    </li>
  <% end %>
</ul>