<h1>All Projects</h1>
<h2>
  <%= link_to "Add project", new_admin_project_path,
    class: "btn btn-medium btn-primary" %>
</h2>
<%= render "shared/flash_messages" %>
<table border="1">
  <tr>
    <th>STT</th>
    <th>Project name</th>
    <th>Short name</th>
    <th>Start date</th>
    <th>End date</th>
    <th>Team id</th>
    <th>Team name</th>
    <th>Action</th>
  </tr>
  <% @projects.each do |project| %>
    <tr>
      <td><%= project.id %></td>
      <td><%= project.name %></td>
      <td><%= project.short_name %></td>
      <td><%= project.start_date %></td>
      <td><%= project.end_date %></td>
      <td><%= project.team_id %></td>
      <td><%= project.team.name %></td>
      <td>
        <%= link_to "edit", edit_admin_project_path(project.id) %>
        /
        <%= link_to "delete", admin_project_path(project.id),
          method: :delete, confirm: "Are you sure?",
          title: "Delete #{project.name}", class: "link-danger" %>
      </td>
      <td><%= link_to "Add members", new_admin_project_project_user_path(project.id) %></td>
    </tr>
  <% end %>
</table>
<%= will_paginate %>



