<h1 class="offset1 pull-left">Edit User</h1>

<div class="row">
  <div class="span6 offset1">
    <%= form_for [:admin, @user], method: :patch do |f| %>
    <%= render "shared/flash_messages" %>
    <%= f.label :name %>
    <%= f.text_field :name %>
      
    <%= f.label :email %>
    <%= f.text_field :email %>
      
    <%= f.label :password %>
    <%= f.password_field :password %>

    <%= f.label :password_confirmation, "Password Confirmation" %>
    <%= f.password_field :password_confirmation %>

    <%= f.label :birthday %>
    <%= f.date_select :birthday %>

    <%= f.label :team %>
    <%= f.select "team_id", options_from_collection_for_select(@teams,
      "id", "name", @team.id), include_blank: true,
        id: "team_select", class: "teams" %>
    
    <%= f.label :position %>
    <%= f.select "position_id", options_from_collection_for_select(@positions,
      "id", "name", @position.id), include_blank: true,
        id: "position_select", class: "positions" %><br/>

    <%= f.submit "Edit User",class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>