<h1>All Users</h1>
<h3>Teams:
  <%= select_tag "team_id",
    options_from_collection_for_select(@teams, "id", "name", params["team_id"]),
      include_blank: true, id: "team_select", class: "teams" %>
  <%= link_to "Add user", new_admin_user_path,
    class: "btn btn-medium btn-primary" %>
</h3>
<ul class="users">
  <% @users.each do |user| %>
  <li>
  	<%= gravatar_for user %>
    <div class="user-info">
      <h3>
        <%= link_to user.name, admin_user_path(user) %>
        <%= link_to "delete", admin_user_path(user.id),
          method: :delete, confirm: "Are you sure?",
            title: "Delete #{user.name}", class: "link-danger" %>
      </h3>
      
    </div>
  </li>
  <% end %>
</ul>
<%= will_paginate %>
<script>
  $(function() {
    $("#team_select").change(function() {
      if($(this).val()) {
        window.location.href = "<%= admin_users_path %>?team_id=" + $(this).val();
      } else {
        window.location.href = "<%= admin_users_path %>";
      }
    });
  });
</script>