<h1 class="offset1 pull-left">Add User</h1>

<div class="row">
    <div class="span6 offset1">
      <%= form_for [:admin, @user] do |f| %>
      <%= render "shared/flash_messages" %>
      <%= f.label :name %>
      <%= f.text_field :name %>
        
      <%= f.label :email %>
      <%= f.text_field :email %>
        
      <%= f.label :password %>
      <%= f.password_field :password %>
  
      <%= f.label :password_confirmation, "Password Confirmation" %>
      <%= f.password_field :password_confirmation %>

      <%= f.label :birthday %>
      <%= f.date_select :birthday %>

      <%= f.label :team %>
      <%= f.select "team_id", options_from_collection_for_select(@teams,
        "id", "name", params["team_id"]), include_blank: true,
          id: "team_select", class: "teams" %>
      
      <%= f.label :position %>
      <%= f.select "position_id", options_from_collection_for_select(@positions,
        "id", "name", params["position_id"]), include_blank: true,
          id: "position_select", class: "positions" %><br/>
      <%= f.label :skill %>
      <table style="text-align: center" border="1">      
        <thead>
          <tr>
            <th></th>
            <th>Skill Name</th>
            <th>Skill Level</th>
            <th>Used year number</th>
          </tr>
        </thead>
        <tbody>
         <%= f.fields_for :user_skills do |builder| %>
          <tr>
            <td><%= builder.hidden_field :skill_id, value: builder.object.skill.id %></td>
            <td><%= builder.object.skill.name %></td>
            <td>
              <%= builder.select :level, 
              options_for_select([['Level 1',1], ['Level 2', 2], ['Level 3', 3], ['Level 4', 4]]) %>
            </td>
            <td>
                <%= builder.text_field :experience_year %>   
            </td>       
          <% end %>
        </tbody>
      </table>
      <br/>
      <%= f.submit "Add User",class: "btn btn-large btn-primary" %>
      <% end %>
    </div>
</div>